node_modules/
dist/
build/
.expo/
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.env
*.env.local
.env.*
!.env.example
npm-debug.*
yarn-debug.*
yarn-error.*
sonara.db
*.db-shm
*.db-wal
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
